.Cont-Serv{
    width: 100%;
    min-height: 63vh;
    display: grid;
    padding: 1rem 0;
}
.Cont-Serv .ImageService{
    width: 50%;
    margin: auto;

}

@media only screen and (max-width: 600px) {
    .Cont-Serv .ImageService{
        width: 70%;
        margin: auto;
    
    }
  }
