nav,
.right,
.left {
    display: flex;
    align-items: center;
}

nav {
    width: 100%;
    justify-content: space-around;
    padding: .5rem 1rem;
    background-color: #003C70;
    color: #fff;

}

.right,
.left {
    gap: 3rem;
    font-size: 1.3rem;
}

.right>li>li {
    display: flex;
    align-items: center;
    gap: 5px;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;

}

li {
    width: fit-content;
    list-style: none;
}

.dropdown li {
    display: flex;
    align-items: center;
    gap: .3rem;
    border-bottom: 1px solid #003C70;
}

.dropdown li:hover {
    border-bottom: 1px solid;
    transition: 0.5s;
}

.dropdown {
    position: absolute;
    background-color: #003c70;
    padding: 0.5rem;
    margin: .5rem -3rem;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    white-space: nowrap;
    font-size: 1.5rem;

}

.dropdown li {
    margin: 0.5rem 0;
    width: 100%;
    padding: 0.5rem;
}

.dropdown li a {
    color: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
}




/* .dropdown li a:hover {
    text-decoration: underline;
  } */

.logout {
    cursor: pointer;
}

.left>li>a {
    display: flex;
    align-items: center;
}

.profile-image {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-image img {
    width: 45px;
    height: 45px;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
    width: 100%;
}