.select-service-btn{
    background: #AD8700;
    font-size: 1.5rem;
    margin: 1rem auto 0 auto;
    padding: 0.7rem 1.5rem;
    border-radius: 10px;
    border: 1px solid #AD8700;
    color: #fff;
    width: 100%;
    cursor: pointer;
}

.select-service-btn:hover{
    background: #fff;
    color: #19355A;
    border: 1px solid #19355A;
    transition: ease-in-out 0.5s all;
}

.select-service-btn2{
    background: #19355A;
    border: 1px solid #19355A;
}

.information-service_body .service-contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
    /* animation: fade-iin .7s ease-in-out; */
}

.information-service_body .textAreaReson{
    width: 100%;
    /* height: 200px; */
    /* margin: 2rem auto; */
    font-size: 1.5rem;
    direction: rtl;
    padding: 5px;
}
.contact-msg-body .textAreaResponse{
    width: 100%;
    height: 100px;
    /* margin: 2rem auto; */
    font-size: 1.5rem;
    direction: rtl;
    padding: 5px;
}

.information-service_body .textAreaReson:focus{
    outline: none;
}

.information-service_body .contact-msg-body-date{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-msg-body{
    margin: 1rem auto;
}

.contact-msg-body p{
    padding: 5px;
    font-size: 1rem;
    color: #000;
}