.cotainer-stu {
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    direction: rtl;
}

.cotainer-data h1 {
    color: #AD8700;
    font-size: 5rem;
    margin-bottom: .6rem;
    margin-top: 5rem;
}

.navv {
    width: 90%;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin: 2rem auto 0;

}

.image {
    width: 80%;
    border-radius: 10px;
    margin: 3rem auto 0;
}

.moreinfo a {
    text-decoration: none;
    color: #fff;
}

.moreinfo {
    font-size: 1.1rem;
    border: 2px solid transparent;
    padding: 10px;
    border-radius: 15px;
    background: #19355A;
    color: white;
    cursor: pointer;
    transition: .7s ease;
}

.moreinfo:hover {
    border: 2px solid #19355A;
    background-color: #fff;
    color: #19355A;
}

.moreinfo:hover a {
    color: #19355A;
}

.student-container {
    display: grid;
    width: 100%;
    justify-content: center;
    direction: rtl;
}

.student-container table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 23px 0;
    background: white;
    color: black;
}


.student-container button {
    font-size: 15px;
    padding: 15px;
    border-radius: 15px;
    background: #19355A;
    color: white;
    border: none;
    cursor: pointer;
}

.student-container button:hover {
    background: #AD8700;
    transition: 0.2s;
}

.filter {
    padding: 5px 3px;
    width: fit-content;
    font-size: 1.3rem;
    text-align: center;
    border-radius: 10px;
}



.super-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.super-container img {
    width: 15%;
    /* margin: 10px auto; */
    z-index: -1;
}





.student-container table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 95%;
    margin: 23px auto;
    background: white;
    color: black;
}

.student-container td,
.student-container th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

.student-container td,
.student-container th,
.student-container tr,
.input-cell {
    font-size: 1.5rem;
}


.student-container tr:nth-child(even) {
    background: #dddddd;
}

.profile-table {
    width: 80%;
    margin: 0 auto;
}

.profile-table .atch-btn ,
.resp .atch-btn,
.atch-btns .atch-btn{
    font-size: 20px;
    padding: 5px 8px;
    border: 2px solid #19355A;
    background-color: #19355A;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    margin: 6px 11px;
    transition: ease-in-out 0.5s all;
}
.profile-table .atch-btn:hover,
.atch-btns .atch-btn:hover {
    color: #19355A;
    background-color: #fff;
    border: 2px solid #19355A;
}
.profile-table .atch-btn2,
.resp .atch-btn2,
.atch-btns .atch-btn2 {
    border: 2px solid #AD8700;
    background-color: #AD8700;
}
.profile-table .atch-btn2:hover,
.resp .atch-btn2:hover, 
.atch-btns .atch-btn2:hover{
    color: #AD8700;
    background-color: #fff;
    border: 2px solid #AD8700;
}



.data-table .input-cell {
    outline: none;
    background: transparent;
    border: 1px solid transparent;
    text-align: center;
    padding: 5px 0;
    width: 100%;
    /* font-size: 1rem; */
}

.data-table .input-cell:focus {
    border: 1px solid #000;
}

.student-container tr:nth-child(odd) .input-cell:focus {
    background: #dddddd;
    border: 1px solid #000;
}

.cotainer-data .confirm-btn {
    margin: 5rem 0;
    width: 90%;
    color: white;
    padding: 1rem;
    background: rgb(0, 60, 112);
    font-size: 2rem;
    border: transparent;
    text-transform: uppercase;
    background: #19355A;
    border-radius: 10px;
}
.cotainer-stu button {
    font-size: 1.5rem;
    padding: 10px 30px;
    border-radius: 15px;
    background: #19355A;
    color: white;
    border: 2px solid transparent;
    cursor: pointer;
    animation: ease-in-out 0.5s all;
}
td .delete{
    background:  red;
}
td button.delete:hover{
    color:  red;
    border: 2px solid red;
}

.cotainer-stu button:hover {
    background: #fff;
    color: #19355A;
    border: 2px solid #19355A;
    transition: ease-in-out 0.3s all;
}

.cotainer-data .confirm-btn:hover {
    cursor: pointer;
    background-color: #002a4d;
    box-shadow: 5px 10px 10px #888888;
}

@media only screen and (max-width: 500px) {
    .data-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (max-width: 660px) {
    .data-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .student-container td,
.student-container th,
.student-container tr,
.input-cell ,
input, 
.cotainer-stu button{
    font-size: 1rem;
}
.cotainer-stu button{
    padding: .5rem;
}
.navv select,
.navv h2{
    font-size: 1rem;
}
.navv{
    justify-content: flex-start;
    gap: 5px;
}
.student-container table {
 
    width: 100%;
}
}
