.waitbtn-edit {
    background-color: #19355A;
    color: #fff;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    width: 50%;
    cursor: pointer;
    margin: 0 auto;
}

.information-service_body .contiue .code {
    width: 80%;
}

.information-service_body .contiue a {
    width: 50%;
}

.information-service_body .contiue {
    width: 100%;
}

.waitbtn-edit:hover {
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
    transition: all 0.5s ease-in-out;
}

.wait-txt {
    background-color: #AD8700;
    color: #000 !important;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.7rem !important;
    font-weight: 600;
    line-height: 1.5;
    width: 80% !important;
    margin: auto !important;
}