.req {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputt {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    place-content: center;
    gap: 1rem;

}
.two {
    grid-column-start: 1;
    grid-column-end: 3;
}

.inputt>div {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.select-img {
    /* border: 2px #AD8700 dashed; */
    padding: .5rem;
    width: 350px;
    display: grid;
    place-content: center;

}

.information-service_body .img-btn {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
}

.progress{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
}
.progress progress{
    width: 90%;
    height: 1.5rem;
}

.progress p{
    font-size: 1.8rem;
    color: #AD8700;
    font-weight: 600;
}



.upload-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.value {
    padding: 1rem;
    font-size: 1.3rem;
    color: #AD8700;
    font-weight: 600;
   
}

.upload-image .img-icom {
    font-size: 3rem;
}

.upload-image p {
    font-size: 1.3rem;
}

.title-upload {
    font-size: 1.5rem;
    padding: 10px;
}
.two{
    columns: 2;
}

.req input[type=submit] {
    background-color: #AD8700;
    color: #fff;
    padding: .4rem;
    border: none;
    border-radius: 15px;
    margin-top: 1rem;
}

.req select {
    height: 3rem;
    background-color: #ddd;
    font-size: 1.3rem;
    border-radius: 10px;

}

@media only screen and (max-width: 600px) {
    .inputt {
        grid-template-columns: 1fr;
    }

    input[type=submit] {
        margin-top: 2rem;
    }
}