.cotainer-data{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cotainer-data .resp-cont{
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    flex-wrap: nowrap;
    gap: 1rem;
    justify-items: center;
    width: 80%;
    margin-bottom: 2rem;
    direction: rtl;
}
.cotainer-data .resp-cont .resp{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    text-align: center;
    width: 100%;
}

.resp .inputt-atch,
.resp .inputt-atch .atch-btns{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    text-align: center;
    gap: 1rem;
}

.data-container{
    display: grid;
    grid-template-columns: 3fr 7fr;
    align-items: self-start;
    width: 100%;
}
.data-container table{
    align-self: center;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 95%;
    margin: 23px auto;
    background: white;
    color: black;
}
.data-container td,
.data-container th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
.data-container td,
.data-container th,
.data-container tr,
.input-cell {
    font-size: 1.5rem;
}
.data-container tr:nth-child(even) {
    background: #dddddd;
}
.profile-table tr:nth-child(even) {
    background: #dddddd;
}
.profile-table th{
    font-size: 2rem;
}



.image-con {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.image-con .status{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 1rem auto;
    gap: 1rem;
    text-align: center;
}

.imagee {
    width: 70%;
    border-radius: 10px;
    margin: 3rem auto 0;

}

.wait-edit {
    background-color: rgb(0, 60, 112);
    color: white;
    padding: .3rem;
    border-radius: 10px;
    font-size: 1rem;
    border: 2px solid transparent;
}

.wait-edit:hover {
    color: rgb(0, 60, 112);
    background-color: #fff;
    border: 2px solid rgb(0, 60, 112);
}

.image-con p{
    width: 80%;
    margin: auto;
    padding: 8px 6px;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 1rem auto;
    background-color: rgb(35, 175, 110);
    color: #fff;
}

.image-con button {
    width: 80%;
    margin: auto;
    padding: 8px 6px;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 10px;
    color: white;
    transition: .7s ease;
    border: 2px solid transparent;
    cursor: pointer;
}

.image-con .acc {
    background-color: rgb(35, 175, 110);

}

.image-con .acc:hover {
    color: rgb(35, 175, 110);
    background-color: #fff;
    border: 2px solid rgb(35, 175, 110);
}

.image-con .ref {
    background-color: rgb(175, 35, 35);
}

.image-con .ref:hover {
    color: rgb(175, 35, 35);
    background-color: #fff;
    border: 2px solid rgb(175, 35, 35);
}

h2 > input{
    padding: 0.3rem;
    border-radius: 5px;
    border: 2px solid #19355a;
}

.status > input{
    width: 80%;
    margin: auto;
    padding: 8px 6px;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 10px;
    transition: .7s ease;
    border: 2px solid #19355a;
    direction: rtl;
}
@media(max-width: 760px) {
    .data-container{
        grid-template-columns: 2fr 4fr;
    }
    .status > input,
    .status > button,
    .status > p{
        font-size: .5rem;
    }
}
@media(max-width: 500px) {
    .data-container{
        grid-template-columns: 1fr;
    }
    .status > input,
    .status > button,
    .status > p{
        font-size: 1.3rem;
    }
}

